@import "../../styles/global/index.scss";

.main {
    margin: 0 auto;
    margin-top: 10;
    &__first {
        max-width: 133rem;
        width: 100%;
        margin: 0 auto;

    &__firstBtn {
        margin-top: 15px;
            text-decoration: none;
            color: $bg-white;
            font-weight: 700;
            background-color: #ff4d30;
            padding: 1.5rem 2.5rem;
            border-radius: 0.3rem;
            box-shadow: 0 10px 15px 0 rgb(255 83 48 / 25%);
            transition: all 0.3s;
            border: 2px solid #ff4d30;
            width: fit-content;
            cursor: pointer;
            width: 70%;
            height: 60px;
            font-size: 30px;
    
            &:hover {
                box-shadow: 0 10px 15px 0 rgb(255 83 48 / 40%);
                background-color: #fa4226;
            }
    }
    }


    &__imgbox {
        background-image: url("./images/cab.jpg");
        max-width: 133rem;
        width: 100%;
        height: 700px;
        padding: 0 1rem;
        border-radius: 30px;
        margin: 0 auto;
        background-size: cover;
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            opacity: 0;
            transition: opacity 0.5s;
            pointer-events: none;
          }
      
          &:hover {
            &::before {
              opacity: 1;
            }
          }
    }
    &__box {
        position: absolute;
        top: 32%;
        color: white;
        max-width: 400px;

    }
    h1 {
        font-size: 100px;
        font-family: emoji;
        font-weight: 500;
        margin-bottom: 1rem;

    }

    
    p {
        font-size: 50px;
        font-family: $titles-font;
        font-weight: 500;
        margin-bottom: 1rem;

    }
}

.main__firstBtn {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    background-color: #ff4d30;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, 0.25);
    transition: all 0.3s;
    border: 2px solid #ff4d30;
    width: -moz-fit-content;
    cursor: pointer;
    width: 238px;
    height: 50px;
    font-size: 30px;
    display: inline-block;

    &:hover {
        box-shadow: 0 10px 15px 0 rgb(255 83 48 / 40%);
        background-color: #fa4226;
    }
}