@import "../../styles/global/index.scss";

.cars {

    margin-top: -50px;
    &__title {
        font-size: 70px;
        font-family: $titles-font;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    &__models {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 5rem;
        align-items: center;
        text-align: center;
        padding: 10rem 0;
        width: 110rem;
        margin: 0 auto;

        @media (max-width: 1150px) {
            grid-template-columns: 1fr 1fr;
            width: fit-content;
        }

        @media (max-width: 800px) {
            grid-template-columns: 1fr;
            width: fit-content;
        }
    }
}